<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title><%= content_for(:title) || "CISALV - Consórcio Intermunicipal de Saúde Alto das Vertentes" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= content_for(:description) || "Site oficial do CISALV - Consórcio Intermunicipal de Saúde Alto das Vertentes" %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :head %>
  </head>

  <body>
    <%= render "shared/header" %>

    <main class="site-main">
      <%= yield %>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>
